<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <title>Universidog - Perfil</title>
    <link rel="stylesheet" href="/css/profile.css">

</head>

<body>
    <%- include("../partials/header.ejs")%>
    <main>
        <div class="data">
            <h3>Bienvenido <%= user.name + " "  + user.lastname%> </h3>
            <img src="/images/usuarios/<%= user.image %>" alt="">
            <p> <%= user.email %></p>

            <p class="rol"> <%= user.roles.description %> </p>

        </div>
        <% if (user.roles.id_roles == 1) { %>
       <div class = "container">
            <div class="task">
            <ul>
                <li> <a href="/cursos/create">Crear Curso</a></li>
                <li> <a href="http://localhost:3001/<%= user.id_usuario %>">Panel de Control</a></li>
            </ul>
        </div>
        <div class="task">
            <ul>
                <li> <a href="/users/curso">Mis Cursos</a></li>
                
            </ul>
        </div>
        <% } else{ %>
            <div class="task container">
                <ul>
                    <li> <a href="/users/curso">Mis Cursos</a></li>
                    
                </ul>
      <%  } %>
    </div>
    </main>
   
    <%- include("../partials/footer.ejs")%>
    <script src="/js/menu.js"></script>
    <script src="/js/scrollreveal.js"></script>
    <script src="/js/scroll.js"></script>
</body>
</html>